.paper {
  padding: 8px;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fileInput {
  width: 97%;
  margin: 10px 0;
}
.buttonSubmit {
  margin-bottom: 10px;
}
